/.gradle/checksums/md5-checksums.bin
/.gradle/checksums/sha1-checksums.bin
/build/classes/java/main/CarroCompra/controladorServer/CarroCompra_ProductoServicios.class
/build/classes/java/main/CarroCompra/controladorServer/CarroCompraServicios.class
/build/classes/java/main/CarroCompra/controladorServer/ComentarioServicios.class
/build/classes/java/main/CarroCompra/controladorServer/DataBaseControlador.class
/build/classes/java/main/CarroCompra/controladorServer/DataBaseServices.class
/build/classes/java/main/CarroCompra/controladorServer/FotoServices.class
/build/classes/java/main/CarroCompra/controladorServer/GestionadDB.class
/build/classes/java/main/CarroCompra/controladorServer/JavalinControlador.class
/build/classes/java/main/CarroCompra/controladorServer/ProductoCompradoServicios.class
/build/classes/java/main/CarroCompra/controladorServer/ProductoServicios.class
/build/classes/java/main/CarroCompra/controladorServer/RecibirDatosControlador.class
/build/classes/java/main/CarroCompra/controladorServer/UsuarioServicios.class
/build/classes/java/main/CarroCompra/controladorServer/VentasProductosServicios.class
/build/classes/java/main/CarroCompra/logico/CarroCompra.class
/build/classes/java/main/CarroCompra/logico/CarroCompra_Producto.class
/build/classes/java/main/CarroCompra/logico/CarrocompraProductoId.class
/build/classes/java/main/CarroCompra/logico/Comentario.class
/build/classes/java/main/CarroCompra/logico/Foto.class
/build/classes/java/main/CarroCompra/logico/Mercado.class
/build/classes/java/main/CarroCompra/logico/Producto.class
/build/classes/java/main/CarroCompra/logico/ProductoComprado.class
/build/classes/java/main/CarroCompra/logico/Usuario.class
/build/classes/java/main/CarroCompra/logico/VentasProductos.class
/build/classes/java/main/CarroCompra/Main.class
/build/resources/main/META-INF/persistence.xml
/build/resources/main/publico/css/comentario.css
/build/resources/main/publico/css/pricing.css
/build/resources/main/publico/EditarProducto.html
/build/resources/main/publico/Home.html
/build/resources/main/publico/Producto.html
/build/resources/main/publico/prueba.html
